html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.spinner{
  display: flex;
  justify-content: center;
}

.spinner-message{
  text-align: center;
  top: 50%;
  left: 50%;
}

.pageContainer{
  min-height: 85vh;
}
