body {
  background-color: #f0e6d6;
  margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.owl {
  background-color: #7a7a7a;
  border-radius: 50%;
  position: relative;
  width: 200px;
  height: 200px;
}

.eye {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 60px;
}

.pupil {
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
}

.left {
  top: 50px;
  left: 50px;
}

.right {
  top: 50px;
  right: 50px;
}

.beak {
  background-color: orange;
  border-radius: 50%;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
}

.owl-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: .5rem;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#answer {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 100%;
}

.root{
  display: flex;
  flex-direction: column;
}