<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Athena</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
  <div id='root'>
    <div class="owl-container">
      <h1>Athena: PDF-based Question Answering</h1>
      <div class="owl">
          <div class="eye left">
            <div class="pupil"></div>
          </div>
          <div class="eye right">
            <div class="pupil"></div>
          </div>
          <div class="beak"></div>
      </div>
    </div>

    <div class="container">
      <form id="pdfUploadForm">
          <label for="pdfFiles">Upload PDF files:</label>
          <input type="file" id="pdfFiles" name="files[]" multiple accept=".pdf">
          <br><br>
          <label for="question">Enter your question:</label>
          <input type="text" id="question" name="question" required>
          <br><br>
          <input id='submit-button' type="submit" value="Submit">
      </form>
      <br>
      <h2>Answer:</h2>
      <pre id="answer"></pre>
    </div>
  </div>


    <script>
        document.getElementById('pdfUploadForm').addEventListener('submit', async function(event) {
            event.preventDefault();

            const pdfFilesInput = document.getElementById('pdfFiles');
            const questionInput = document.getElementById('question');
            const answerElement = document.getElementById('answer');
            const button = document.getElementById('submit-button');
            button.disabled = true;
            if (pdfFilesInput.files.length === 0) {
                alert('Please upload at least one PDF file.');
                return;
            }

            const formData = new FormData(event.target);
            const response = await fetch('/upload_pdfs', {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                const result = await response.json();
                answerElement.textContent = result.answer;
            } else {
                answerElement.textContent = `Error: ${response.statusText}`;
            }
            button.disabled = false;
        });
    </script>
</body>
</html>
