{
    "experimentalTernaries": true,
    "tabWidth": 4,
    "printWidth": 88,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "quoteProps": "as-needed",
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "ignore"
}
